html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #333;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

.game-list {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	align-items: center;
	justify-content: left;
	height: 100%;
}

.game-tile {
	border-radius: 5px;
	background: #333;
	color: white;
	padding: 10px;
	margin: 10px;
	font-size: 12px;
	min-width: 170px;
	min-height: 170px;
}
